@import '../../node_modules/normalize.css/normalize.css';

:root {
  --headerColor : #778899;
  --mainColor: #f1f1f1;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family: sans-serif;
  background: var(--mainColor);
}

header{
  padding: 1em;
  color:white;
  background: var(--headerColor)
}

header h1{
  float:left;
  margin: 0;
  font-size:1.25rem;
}

menu{
  display:block;
  float:right;
}

menu ul{
  list-style: none;
}

menu ul li{
  float:left;
  margin-left:1em;
  cursor:pointer;
  user-select:none;
  opacity: .7
}

menu ul li:hover{
  opacity: .5;
}

menu ul li.active{
  opacity: 1;
}

.content{
  padding: 1em;
}

itemlist{
  display:block;
}

itemlist ul{
  list-style: none;
}